@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");
:root {
  --Cobalt-blue: hsl(234, 85%, 45%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
  --Green-teal: hsl(166, 100%, 37%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Light-red: hsl(0, 100%, 67%);
  --Light-royal-blue: hsl(241, 81%, 54%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Persian-blue: hsla(241, 72%, 46%, 0);
  --Violet-blue: hsla(256, 72%, 46%, 1);
  /* Gradients */

  --Light-slate-blue: hsl(252, 100%, 67%);
  /* Neutral */
  --White: hsl(0, 0%, 100%);
}

html {
  box-sizing: border-box;
  font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  font-family: "Hanken Grotesk";
  font-weight: normal;
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}
img {
  height: auto;
  max-width: 100%;
}
